@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");

:root {
  --primary: #fea500;
  --secondary: #191d36;
  --main: #ffffff;
}

body {
  background: var(--secondary);
  color: var(--main);
  font-family: "Rubik";
  margin: 0;
}

/* Navbar */
header nav {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav h1 {
  border-bottom: 3px solid var(--primary);
}
nav a {
  font-size: 18px;
  text-decoration: none;
  padding: 10px;
  color: var(--primary);
}
nav a:hover {
  border-bottom: 2px solid var(--main);
}
nav a:active {
  color: var(--main);
}

/* Contact Us */
.contact h1,
.contact p {
  text-align: center;
}
.contact {
  /* border: 1px solid var(--primary); */
  margin: 100px 0;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
form {
  /* border: 1px solid var(--primary); */
  max-width: 600px;
  margin: auto;
  font-size: 18px;
}
.label {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.label > span {
  padding-bottom: 5px;
}
input {
  height: 25px;
  border-radius: 5px;
}
textarea {
  height: 50px;
  border-radius: 5px;
}
button {
  margin: 5px;
  cursor: pointer;
  background: var(--primary);
  color: var(--main);
}
.submit {
  padding: 5px 8px;
  text-align: center;
  font-size: 14px;
  border-radius: 5px;
}

/* About */
.about-header {
  background-image: url(./cfcfcf.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about-header h1 {
  text-align: center;
  padding: 250px;
  font-size: 52px;
  font-style: bold;
  text-shadow: 5px 5px var(--primary);
}

.about-p1 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-cntent: center;
  border-bottom: 1px solid var(--primary);
}
.about-p1 h2 {
  width: 40%;
}

/* home */
.home {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  align-items: center;
}
.home h1 {
  color: var(--primary);
  padding: 5px;
  text-shadow: 2px 2px var(--main);
}
.home p {
  margin-right: 5px;
  font-weight: 300px;
}

/* blog */
.blog h1 {
  text-align: center;
  text-shadow: 2px 2px var(--primary);
}
.blog-list {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
  margin-bottom: 30px;
  border-radius: 15px;
}
.blog-list h2 {
  color: var(--primary);
}
.blog-list p {
  font-weight: lighter;
}

/* Tim Lists */
.timlist h1 {
  text-align: center;
  text-shadow: 2px 2px var(--primary);
}
.timlist {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.timlist-card {
  margin: 50px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
  gap: 30px;
}
.card > img {
  width: 250px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 250px;
  color: black;
  background: var(--main);
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(254, 165, 0, 0.5);
}

.info-card {
  padding: 2px 16px;
}
