@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");

:root {
  --primary: #fea500;
  --secondary: #191d36;
  --main: #ffffff;
}

body {
  background: var(--secondary);
  color: var(--main);
  font-family: "Rubik";
  margin: 0;
}

/* Navbar */
header nav {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav h2 {
  border-bottom: 3px solid var(--primary);
}
nav a {
  font-size: 18px;
  text-decoration: none;
  padding: 10px;
  color: var(--primary);
}
nav a:hover {
  border-bottom: 2px solid var(--main);
}
nav a:active {
  color: var(--main);
}

div h1{
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}